<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <meta charset="{% block charset %}utf-8{% endblock charset %}">
    <title>{% block title %}{% endblock title %}</title>

      {% block styles %}  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
      {% endblock %}
    {% endblock %}
  </head>

  <body>
    <div class="{% block wrapper_class %}container{% endblock %}">
      <div class="{% block header_class %}head{% endblock %}">
      </div>
      <div class="{% block content_class %}content{% endblock %}">
        {% block content %}

        {% endblock %}
      </div>
      <div class="{% block footer_class %}footer{% endblock %}">
        {% block footer %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>
