{% extends "base.html" %}

{% block content %}

{% if image_urls %}
<h1>Images found at {{ url }} requested at {{ now }}</h1>
<div id="images_container">

    {% for image_url in image_urls %}
        <div class="item">
        <a href="{{ image_url }}">
            <img src="{{ image_url }}" width="100%">
        </a>
        <div class="image_url">
            <input class="image_url" type="text" value="{{ image_url }}">
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <h1>There were no images found at {{ url }}</h1>
{% endif %}

{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.js') }}"></script>
<script>
    var container = document.querySelector('#images_container');
    var msnry = new Masonry(container, {
        'gutter': 2
    });
    imagesLoaded(container, function() {
        msnry.layout();
    });
</script>
{% endblock %}
